body{
  background: url(./background-black.png)!important;
  border: none;
}

.body-site {
  border: none;
}

.body-site {
  width: 100%;
  overflow: hidden;
  vertical-align: baseline;
}

.container-chapter-reader{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: 400;
}

.container-chapter-reader img {
  display: block;
  margin: 5px auto 0;
  max-width: 100%;
  height: auto;
}